.post-sideMenu-wrapper{
 display: flex;
 flex-direction: column;
 width: 20%;
 gap: 1.75rem; 
 justify-content: start;
}
.post-sideMenu-title{
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
}
.post-menu-itens{
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.post-menu-item{
  color: #0097A3;
  font-size: 1rem;
}

@media (max-width: 768px) {
 .post-sideMenu-wrapper{
  width: 100%;
 }
 .post-menu-itens{
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
 }
}